/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';
@import url("https://use.typekit.net/apo2met.css");


$textcolor: #007550;
$green-buttons: #007550;
$redcolor: #CE1041;

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

html {
	background-color: white;
}

body{
	position: relative;
	background-color: #CBE9E1;
	font-family: Arial, sans-serif;
	width: 1080px;
	height: 1920px;
	color: $textcolor;
	font-family: "proxima-nova",sans-serif;
}

%testing{
	display: block;
	height: 400px;
	width: 400px;
	padding: 10px;
	font-size: 1rem;
}

.corner-button {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	div{
		margin: 20px;
	}
}

.page {
	display: none;
	&.active{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	}
}

.home-page{
	display: none;
	overflow:hidden;
	font-family: "gastromond",sans-serif;

	.drippy-glaze-background {
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		width: 100%;
	}
	.dots {
		width: 120%;
    	transform: translate(-16%, -31%) rotate(50deg);
    	position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		width: 100%;
		overflow: hidden;
	}
	.logo-donut,  {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	div{
		position: absolute;
		top: 65%;
		left: 50%;
		transform: translate(-50%, -65%);
		text-align: center;
	}
	&.active{
		display: block;
		// background-image: url(../img/home-page_bg.png);
		// background-size: cover;
		// background-repeat: no-repeat;
	}
	.bottom-donuts{
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(-50%,0);
		width: 100%;
	}

}

.second-page{
	display: none;
	overflow: hidden;
	.drippy-glaze-background {
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		width: 100%;
	}
	.dots {
		width: 180%;
		transform: translate(-14%, 32%) rotate(183deg);
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		overflow: hidden;
	}
	&.active {
		background-color: #FDD9DB;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		p{
			font-family: "gastromond",sans-serif;
			color: #CE1041;
			padding: 100px;
			text-decoration: none;
			font-size: 3.125rem;
			z-index: 100000000;
		}
		.donuts{
			display: flex;
			background-image: url(../img/fresh_donuts.jpg);
			@extend %testing;
			background-size: contain;
			background-repeat: no-repeat;
			width: 800px;
			height: 640px;
			justify-content: center;
			padding-top: 45px;
			z-index: 10000000;

		}
		.drinks{
			z-index: 10000000;

			display: flex;
			background-image: url(../img/coffee_drinks.png);
			background-color: #fff;
			@extend %testing;
			background-size: contain;
			background-repeat: no-repeat;
			width: 800px;
			height: 640px;
			justify-content: center;
			padding-top: 45px;
			background-position: bottom center;
		}
		div p, a p{
			color: #007550;
			font-size: 2.5rem;
			z-index: 10000000;

		}
		a{
			text-decoration: none;
		}
	}
}
 

.third-page{
	display: none;
	overflow:hidden;
	p{
		font-family: "gastromond",sans-serif;
		color: #CE1041;
		padding: 100px;
		text-decoration: none;
		font-size: 3.125rem;
		z-index: 100000000;
	}
	div p, a p{
		color: #007550;
		font-size: 2.5rem;
		z-index: 10000000;
	}
	.drippy-glaze-background {
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		width: 100%;
	}
	.dots {
		width: 180%;
		transform: translate(-14%, 32%) rotate(183deg);
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		overflow: hidden;
	}
	&.active{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #FDD9DB;
		.single{
			background-image: url(../img/coffee_drinks.png);
			@extend %testing;
					background-size: cover;
					background-repeat: no-repeat;
					z-index: 10000000;

		}
		.dozen{
			background-image: url(../img/coffee_drinks.png);
			@extend %testing;
					background-size: cover;
					background-repeat: no-repeat;
					z-index: 10000000;

		}
		.half-dozen{
			background-image: url(../img/dozen_glazed.png);
			@extend %testing;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: bottom center;
					width: 800px;
					height: 640px;
					background-color: white;
					z-index: 10000000;

		}
	}
}


.choose-donuts .donut{

	display: block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	
}

.dozen-donuts div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

%greenbutton{
	background-color: $green-buttons;
	color: white;
	padding: 20px 60px;
	border: none;
	width: 256px;
	height: 47px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
}
.fourth-page{
	display: none;
	&.active{
		display: flex;
		background-color: #CBE9E1;
		flex-direction: column;
		align-items: center;
	}
	h1{
		position: absolute;
		z-index: 10000000;
		font-family: "gastromond", sans-serif;
		color: $redcolor;
		font-size: 3.125rem;
		top: 40px;
	}
	.donut-box{
		background-image: url(../img/donut_box.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom center;
		height: 1800px;
		width: 1282.63px;
		margin: 0 0 0 100px;

		.donut-grid {
			position: relative;
			width: 820px;
			top: 200px;
			left: 250px;
			img{
				display: inline-block;
				width: 145px;
				height: 145px;
				border-radius: 110px;
				margin-left: 20px;
			}
		}
	}
	.under-box{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center; 
		width: 800px;
		padding: 20px 0;

		.trash-can{
			background-image: url(../img/trash-can.png);
			width: 75px;
			height: 60px;
			background-size: contain;
			background-repeat: no-repeat;
		}
		button{
			@extend %greenbutton;
			margin-right: 100px;
		}
	}
	.red-line{
		border-top: 4px #CE1041 solid;
		width: 800px;
		margin: 40px 0;
	}

	.filters {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 820px;
		margin-bottom: 100px;
		justify-content: center;
		button{
			@extend %greenbutton;
			margin: 15px 5px;

		}
	}
	.donut-list-grid{
		display: flex;
		flex-wrap: wrap;
		width: 815px;
		overflow: scroll;
		img{
			width: 180px;
			height: 180px;
			margin-left: 20px;
			&.hover{
				background-color: $redcolor;
				width: 180px;
				height: 180px;
				border-radius: 110px;
			}
		}

	}
}

